body {
    padding-top: 50px;
}
.content{
    padding: 40px 15px;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 7px 11px;
    margin: 4px;

}
.btn-node {
    width:115px;
    height:42px;
    white-space: normal;
    vertical-align: middle;
    line-height: 15px;
}
