#hiw {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.line-break {
  height: 25px;
}

.line-break-border {
  border-top: 2px solid #c8c8c8;

.image_navbar {
	padding: 10px 5px;
}

.3dvisual {
	display: block;
	vertical-align: baseline;
	position: relative;
	margin-left: auto;
	margin-right: auto;

}

