#aboutus {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 2%;
  padding-right: 2%;
}

.thumbnail {
text-decoration: none;
text-align: center;
border: none;
padding: 0px;
margin-bottom: 0px;
position: relative;
}

.team-details {
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
opacity: 0;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-pack: center;
-moz-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-moz-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
-ms-transition: all .2s;
transition: all .2s;
}

.team-details:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.team-details:hover .team-description:after,
.team-details:hover .team-description:before {
  width: 100%;
}

.team-description {
  font-size: 16px;
color: #fff;
position: relative;
pointer-events: none;
text-align: center;
max-width: 80%;
max-height: 60%;
}

.team-image-display {
-webkit-transition: width 0.25s ease-in-out;
-moz-transition: width 0.25s ease-in-out;
-o-transition: width 0.25s ease-in-out;
transition: width 0.25s ease-in-out;
padding-bottom: 20px;
}

.line-break {
  height: 25px;
}

.line-break-border {
  border-top: 2px solid #c8c8c8;

}

.team-image-display-background {
position: absolute;
height: 100%;
background-color: rgba(0, 0, 0, 0.05);
}

.team-image-photo {
  width: 100%;
}

.team-image-display .team-description:before {
content: '';
border-top: 1px solid #0e153a;
width: 15%;
position: absolute;
-webkit-transition: width 1s;
-moz-transition: width 1s;
-o-transition: width 1s;
transition: width 1s;
top: -7px;
left: 0;
}

.team-image-display .team-description:after {
content: '';
border-top: 1px solid #0e153a;
width: 15%;
position: absolute;
-webkit-transition: width 1s;
-moz-transition: width 1s;
-o-transition: width 1s;
transition: width 1s;
right: 0;
bottom: -7px;
}

.image_navbar {
  padding: 10px 5px;
}


